@import 'breakpoints';

.carousel {
	$parent: &;

	display: flex;

	&__item {
	}
}

.flickity-enabled {
	position: relative;
}

.flickity-enabled:focus {
	outline: none;
}

.flickity-viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
}

.flickity-enabled.is-draggable {
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.flickity-prev-next-button {
}

.flickity-prev-next-button:hover {
	background: white;
}

.flickity-prev-next-button:focus {
	outline: none;
	box-shadow: 0 0 0 5px #09f;
}

.flickity-prev-next-button:active {
	opacity: 0.6;
}

.flickity-prev-next-button.previous {
	left: 10px;
}

.flickity-prev-next-button.next {
	right: 10px;
}

.flickity-rtl .flickity-prev-next-button.previous {
	left: auto;
	right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
	right: auto;
	left: 10px;
}

.flickity-prev-next-button:disabled {
	opacity: 0.3;
	cursor: auto;
}

.flickity-prev-next-button svg {
	position: absolute;
	left: 20%;
	top: 20%;
	width: 60%;
	height: 60%;
}

.flickity-prev-next-button .arrow {
	fill: #333;
}

.flickity-page-dots {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	line-height: 1;
	text-align: right;
}

.flickity-rtl .flickity-page-dots {
	direction: rtl;
}

.flickity-page-dots .dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 8px;
	background: #d2d9dc;
	border-radius: 50%;
	opacity: 0.3;
	cursor: pointer;
}

.flickity-page-dots .dot:hover {
	opacity: 1;
}

.flickity-page-dots .dot.is-selected {
	background-color: #37a640;
	opacity: 1;
}

.flickity-resize {
	.slider__cell {
		min-height: 100%;
	}
}

.slider {
	$parent: &;

	position: relative;

	&__carousel {
	}

	&__wrapper {
		position: relative;
	}

	&__controls {
		display: flex;
		align-items: center;
		margin: 0 auto;
		max-width: var(--site-width);
		justify-content: center;
		padding: 5px 0;

		#{$parent}--overlap-controls & {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	&__cell {
		width: 100%;
		min-width: 320px;
		display: flex;

		> * {
			width: 100%;
		}

		> img {
			align-self: center;
		}
	}

	&__nav {
		display: none;
		cursor: pointer;
		padding: 0;
		background: none;
		border: none;
		margin: 0;
		color: var(--carousel-bullet-selected, #ccc);

		svg {
			fill: currentColor;
			width: var(--icon-sm);
			height: var(--icon-sm);
		}

		@include breakpoint($lg) {
			display: block;
		}
	}

	&__label {
		display: none;
	}

	&[data-theme='light'] {
		#{$parent}__nav {
			color: var(--clr-black);
		}

		#{$parent}__bullets {
			li {
				border-color: var(--clr-black);

				&.selected {
					background-color: var(--clr-black);
				}
			}
		}
	}

	&[data-theme='dark'] {
		#{$parent}__nav {
			color: var(--clr-white);
		}
		#{$parent}__bullets {
			li {
				border-color: var(--clr-white);

				&.selected {
					background-color: var(--clr-white);
				}
			}
		}
	}

	&__bullets {
		list-style: none;
		margin: 0 auto;
		padding: 5px;
		text-align: center;
		line-height: 1;

		li {
			display: inline-block;
			height: 9px;
			width: 9px;
			background: transparent;
			border-radius: 9px;
			margin: 5px;
			text-align: left;
			text-indent: -999em;
			cursor: pointer;
			transition: all 0.3s;
			border: 1px solid var(--carousel-bullet-border, #ccc);

			&.selected {
				background-color: var(--carousel-bullet-selected, #ccc);
				border-color: rgba(0, 0, 0, 0);
				width: 30px;
			}
		}
	}

	&--fade {
		.flickity-slider {
			transform: none !important;
		}

		#{$parent}__cell {
			left: 0 !important;
			opacity: 0;
			transition: opacity 0.4s ease-in-out;
			z-index: -1;
			width: 100% !important;

			&.is-selected {
				opacity: 1;
				z-index: 0;
			}
		}
	}
}
